.footer {
    box-sizing: border-box;
    padding: 80px 50px;
}

.footer h1 {
    font-family: Lora;
    font-weight: 900;
}

/* .flex-container{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 300px;
    margin-right: 200px;
    margin-top: 10px;
    gap: 100px;
} */

.flex-container{
    /* justify-content: center;
    align-items: center;
    width: 100%; */
}
