@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Lora:wght@400;600;700&display=swap');

.logo {
    font-family: Lora;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    color: black;
}

.nav {
    padding: 20px 31px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
    top: 0;
    display: inline-grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search_icon {
    position: absolute;
    left: 0;
    padding: 10px 10px
}

.search form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
}

.search input {
    width: 100%;
    padding: 10px 20px 10px 50px;
    border-radius: 20px;
    border: 1px solid black;
    font-family: Inter;
    font-weight: 400;
    font-size: 1em;
}

.profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.to-profile {
    display: flex;
    align-items: center;
    gap: 10px;

}