.pagination {
    font-family: Inter;
    font-size: 27;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    margin-top: 81px;
}

.pagination button {
    background: none;
    border: none;
    font-family: Inter;
}